@using Vendr.Checkout.Web;
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ 
    var canGoBack = (bool)ViewData["canGoBack"];

    var checkoutPage = Model.GetCheckoutPage();
    var cartPage = Model.GetCartPage();
    var prevStep = Model.GetPreviousPage();
    var nextStep = Model.GetNextPage();

    var themeColor = Model.GetThemeColor();
}
<div class="flex flex-col-reverse items-center justify-between mt-8 md:flex-row">
    @if (canGoBack)
    {
        if (prevStep != null)
        {
            <div><a href="@(prevStep.Url)" class="text-@(themeColor) hover:text-gray-900 hover:underline"><i class="fa fa-angle-left"></i> Return to @(prevStep.Name)</a></div>
        }
        else
        {
            <div><a href="@(cartPage.Url)" class="text-@(themeColor) hover:text-gray-900 hover:underline"><i class="fa fa-angle-left"></i> Return to Cart</a></div>
        }
    }
    @if (nextStep != null)
    {
        <div class="mb-4 w-full md:mb-0 md:w-auto">
            <button class="bg-@(themeColor) text-white px-4 py-4 w-full rounded hover:bg-gray-900" type="submit">Continue to @(nextStep.Name)</button>
        </div>
    }
</div>